<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Yuklab olish</title>
</head>

<body>
    <h1>Video yuklanmoqda...</h1>
    <a href="{{url}}" download="myvideo.mp4">yuklash tugmasi</a>
    <p id="videoUrl">{{ url }}</p>
    <video controls autoplay name="media">
        <source src="{{ url }}" type="video/webm">

    </video>
    <script>
        // Sahifa yuklanganda video yuklash jarayonini boshlash
        window.onload = async function () {




            
            const videoUrl = document.getElementById('videoUrl').textContent;
            const requestOptions = {
                method: "GET",
                redirect: "follow",
                mode: 'no-cors',                
            };

            fetch(videoUrl, requestOptions)
                .then((response) => { return response.blob() })
                .then(blob => {
                    // Faylni foydalanuvchiga yuklab olish uchun link yaratish
                    const link = document.createElement('a');
                    link.href = URL.createObjectURL(blob);  // Faylni URL yaratish
                    link.download = 'downloaded_file.webm';  // Fayl nomini belgilang
                    link.click();  // Yuklab olishni ishga tushirish
                })
                .catch((error) => console.error('no', error));

        };
    </script>
</body>

</html>